/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
#sfjp-topbar {
    background-color: #1F1F20;
    height: 40px;
    line-height: 40px;
}

#sfjp-topbar p {
    color: #fff;
    text-align: center;
}
/*
     FILE ARCHIVED ON 12:58:36 Sep 07, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:10:35 Oct 29, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.798
  exclusion.robots: 0.057
  exclusion.robots.policy: 0.024
  esindex: 0.016
  cdx.remote: 27.085
  LoadShardBlock: 320.354 (3)
  PetaboxLoader3.datanode: 800.586 (5)
  PetaboxLoader3.resolve: 566.076 (3)
  load_resource: 1152.101
  loaddict: 702.064
*/