/* CSS like it's 1999 ... ish */

.cookie-message {
  background-color: #e9e9e9;
  border-bottom: 1px solid #63bda4;
  padding: 0.438rem;
  text-align: center;
}
  .cookie-message__content {
    color: var(--color-black);
    font-size: 0.875rem;
    margin-bottom: 0;
  }
  .cookie-message__button {
    background-color: #63bda4;
    color: #fff;
    display: inline-block;
    font-size: 0.875rem;
    padding: 0.188rem 0.375em;
  }
  .cookie-message__button:hover,
  .cookie-message__button:focus,
  .cookie-message__button:active {
    background-color: #262b5f;
    color: #fff;
  }

/*
     FILE ARCHIVED ON 05:19:49 Apr 29, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:50:36 Sep 23, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.587
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.009
  esindex: 0.012
  cdx.remote: 55.614
  LoadShardBlock: 75.991 (3)
  PetaboxLoader3.datanode: 127.898 (4)
  load_resource: 59.931
*/