/* owen.perks CLICK TO BUY BUTTON */
.footer-click-to-buy-btn img {max-height: 50px;}

/* 03068999 JLC */
.model-selector-responsive .btn.view-link { opacity: 1; }

/* 03163418 JLC */
html.alias-inventory-featured-used .page-bd .inventory-featured-default .pricing .label { white-space: normal; }
/*
     FILE ARCHIVED ON 01:47:26 Sep 03, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:00:36 Nov 30, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.79
  exclusion.robots: 0.028
  exclusion.robots.policy: 0.011
  esindex: 0.015
  cdx.remote: 149.45
  LoadShardBlock: 86.981 (3)
  PetaboxLoader3.datanode: 130.315 (4)
  load_resource: 131.433
  PetaboxLoader3.resolve: 66.949
*/