
/*
     FILE ARCHIVED ON 05:01:21 May 21, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:01:45 Sep 29, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.782
  exclusion.robots: 0.03
  exclusion.robots.policy: 0.018
  esindex: 0.016
  cdx.remote: 240.462
  LoadShardBlock: 624.552 (3)
  PetaboxLoader3.datanode: 752.371 (4)
  load_resource: 283.656
  PetaboxLoader3.resolve: 102.803
*/