#tpbr_calltoaction {
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
#tpbr_calltoaction:hover {opacity:0.9;}

#tpbr_topbar {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  padding:0px !important;
}
/*
     FILE ARCHIVED ON 02:02:56 Feb 11, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:33:23 Oct 06, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.916
  exclusion.robots: 0.022
  exclusion.robots.policy: 0.01
  esindex: 0.013
  cdx.remote: 29.137
  LoadShardBlock: 66.457 (3)
  PetaboxLoader3.datanode: 99.546 (4)
  load_resource: 96.93
  PetaboxLoader3.resolve: 36.86
*/