

/*********************
GENERAL STYLES
*********************/


/* Animations */
@-webkit-keyframes growTop {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -moz-transform: translateY(-300px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0); } }

@-moz-keyframes growTop {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -moz-transform: translateY(-300px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0); } }

@-o-keyframes growTop {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -moz-transform: translateY(-300px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0); } }

@keyframes growTop {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -moz-transform: translateY(-300px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0); } }

.header-menu { background-size: cover; }

.header-inner {
	width:100%;
	position:relative;
	z-index:99; 
	top:0px; 
	background-color:#fff;
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,.15);
	box-shadow:0 1px 3px rgba(0,0,0,.15);
	-webkit-transform:translate3d(0,0,0);
	-moz-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0)
}



@media only screen and (min-width: 768px) {
#fixed-header .nav{ margin-right:8%; }
}

@media (min-width: 991px) and (max-width: 1200px) {
#fixed-header .nav {
  margin-right: 5%;
}
}

@media only screen and (min-width: 1030px) {	  
.header-fixed {
    position: fixed;
    background: #ffffff;
    z-index: 99;
    width: 100%;
	top: 0px;
    -webkit-animation-name: growTop;
    -moz-animation-name: growTop;
    -o-animation-name: growTop;
    animation-name: growTop;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
#fixed-header {  color: #333;  }
#fixed-header.header-fixed {  width: 100%;  display: block; }
}

@media (min-width: 980px) and (max-width: 1200px) {
.header-fixed { top: 0px; }
}

@media (min-width:240px) and (max-width:630px){
.header-inner{
	top:0; 
}

}

/*
     FILE ARCHIVED ON 09:06:00 Sep 19, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:00:11 Nov 01, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.677
  exclusion.robots: 0.032
  exclusion.robots.policy: 0.016
  esindex: 0.01
  cdx.remote: 46.194
  LoadShardBlock: 325.386 (3)
  PetaboxLoader3.resolve: 3572.535 (3)
  PetaboxLoader3.datanode: 215.262 (4)
  load_resource: 3468.113
*/