@media (min-width:768px){
.lead{font-size:22px} 
.main-nav ul li li a:hover,.main-nav ul li li a.selected{ color:#ffffff; border-radius:0;}
}

.main-nav ul{margin:0;padding:0;list-style:none}
.menu-inner{width:100%;height:80px;top: 0px;background:border-radius: 0;z-index:999;box-shadow: 0 1px 3px rgba(0,0,0,.15);}
.menu-inner.affix{position:fixed;top:0;left:0;z-index:999;max-height:100%;overflow:auto;-ms-overflow-style:-ms-autohiding-scrollbar;-webkit-overflow-scrolling:touch}
.brand-logo img { margin-left:80px;}
.menu-inner .brand-logo a{display:block;white-space:100%;height:100%; text-decoration:none; color:#333;}
.menu-inner .brand-logo a img{padding-left: 80px;}
.menu-inner .nav-toggle{position:absolute;width:25px;height:20px;top:30px;right:5%;/*border:4px solid #777;*/border-width:4px 0}
.menu-inner .nav-toggle:before{content:'';position:absolute;left:0;width:100%;top:4px;height:4px;/*background-color:#777*/}
/*.main-nav ul{position:relative; z-index:999;}*/
.main-nav ul li{font-size:13px;line-height:16px;font-weight:400;position:relative;border-top:1px solid rgba(0,0,0,0.1);}
.main-nav ul li a{color:#c6c6c6;padding:13px 57px 13px 15px;display:block;position:relative;}
.main-nav ul li a .sub-toggle{display:block;position:absolute;right:0;top:0;width:42px;height:42px;text-align:center;color:#333;border-left:1px solid rgba(0,0,0,0.1);}
.main-nav ul li a .sub-toggle:before{font-family:FontAwesome; color:#b9b9b9;width:42px;height:42px;line-height:42px;font-size:14px;content:'\f067'}
.main-nav ul li a .sub-toggle.open:before{content:'\f068'}
.main-nav ul li a:hover,.main-nav ul li.active>a,.main-nav ul li.current-menu-item>a{/*color:#ffffff;*/ }
.main-nav ul li li{margin-left:30px; margin-right:0;}
.main-nav ul,.main-nav ul ul{display:none}
.main-nav>ul{background-color:rgba(84,84,84,0.98);}
.main-nav ul li a .sub-toggle:hover:before{ color:#b9b9b9; }
ul.nav li a:link{ color:#b9b9b9;	text-decoration:none; }
ul.nav li a:visited{	color:#b9b9b9; text-decoration:none; 	}
ul.nav li a:hover, ul.nav li a.selected{ color:#333; background:rgba(255,255,255,0.95); text-decoration:none; }
.main-nav ul li li a:hover, .main-nav ul li li a.selected {color:#333; background:rgba(255,255,255,0.95);}
ul.nav li a.selected{ color:#ffffff;  text-decoration:none;  }
.main-nav ul li li i{ display:none; }
.main-nav>ul>li>ul{border-top:0px solid #ffffff;}

ul.nav li a.selected{ color:#333; background:rgba(255,255,255,0.95); } 
ul.nav ul li a.selected, ul.nav ul li a.focus, ul.nav ul li a.hover{ color:#ffffff;}
ul.nav li a{
text-transform: uppercase;
font-weight: 400;
font-style: normal;
font-size: 15px;
color: #a6a9b9;
width:100%;
 display:inline-block;
 letter-spacing:1px;
}

nav.main-nav {
	background:transparent;
	box-shadow:none;
}

#mainheader .main-nav ul > li > a:active, #mainheader .main-nav ul > li > a:visited, #mainheader .main-nav ul > li > a:link,
#header .main-nav ul > li > a:active, #header .main-nav ul > li > a:visited, #header .main-nav ul > li > a:link
{
	background:transparent;
}


@media (min-width:992px){

#mainheader .main-nav ul > li > a, #header .main-nav ul > li > a{
font-family: 'Roboto', sans-serif;
color: #fff;
text-transform: uppercase;
font-size: 14px;
color: #3a3a3a;
font-weight: 500;
}
#header .main-nav ul > li > a{padding: 24px 12px;}
#header .main-nav ul > li > a > i {
	margin-top:5px;
}

#mainheader .main-nav ul ul li a:hover, 
#header .main-nav ul ul li a:hover,
#header .main-nav ul ul li a.selected
{background: rgba(255,255,255,0.2);color: #fff;  font-weight:normal;}

#header .main-nav ul li li:hover a,#header .main-nav ul li li a.selected  {
	border-bottom:3px solid rgba(255,255,255,.05)!important;
}	

#mainheader .main-nav ul > li > a.selected, 
#header .main-nav ul > li > a.selected{/*color:#7e1a14;*/}

#mainheader .main-nav ul > li > a:hover,
#header .main-nav ul > li:hover a,
#header .main-nav ul > li > a.selected
{line-height:24px; border-bottom:3px solid #fc4225;}
 
#mainheader .main-nav ul li li a, 
#header .main-nav ul li li a{ font-weight: 400; color: #fff; font-size:12px;}

.main-nav ul>ul>li:hover i{color:#333;}
.menu-inner .header-table{display:table;width:100%;table-layout:auto}
.menu-inner.affix{max-height:none;overflow:visible}.menu-inner .brand-logo,.menu-inner .main-nav{display:table-cell;vertical-align:middle}
.menu-inner .main-nav{margin:0; text-align:right; background:transparent; height:85px; box-shadow:none;}
.menu-inner .nav-toggle{display:none}
.main-nav{text-align:right;font-size:0;white-space:nowrap; }
.main-nav ul li{display:inline-block;font-size:12px;border-top:0; margin-right:5px; border-radius:0px;}
.main-nav ul li a{padding:24px 12px; border-radius:0px; line-height:24px;  text-transform:uppercase;}
#mainheader .main-nav ul > li > a{padding:40px 12px;}
#mainheader .main-nav ul > li > a, #header .main-nav ul > li > a {color: #2a2a2a;}


#mainheader .main-nav ul ul li a,
#header .main-nav ul li li a{padding:12px 15px; }
.main-nav ul ul li i{ color:rgba(0,0,0,0.8); margin-top:7px;}
.main-nav ul li a .sub-toggle{display:none}
.main-nav ul li ul{background-color:#fffff;/*  -webkit-box-shadow:0 1px 3px rgba(0,0,0,.05);box-shadow:0 1px 3px rgba(0,0,0,.05);*/text-align:left;display:none!important;position:absolute;top:100%;left:0;margin-top:0px; border-radius:0px;/* box-shadow:0px 0px 6px #d2d2d2;*/}
#mainheader .main-nav ul li ul {bottom: 100%; top:auto; border-bottom: none;  background: rgba(252,66,37,0.98); color:#f1f1f1; min-width:200px;}
#mainheader .main-nav ul ul ul {bottom:0;}
.main-nav ul li li{display:block;min-width:150px;margin-left:0;border-bottom:1px solid rgba(0,0,0,0.1); float:none;}
.main-nav ul li li:last-child{ border-bottom:none;}
.main-nav ul li li+li{border-top:0}
.main-nav ul li li>ul{	left:100%;	right:auto;	top:-1px;}

.main-nav ul li li:hover ul {
	-moz-animation: fadeInRight .3s ease-in ;
	-webkit-animation: fadeInRight .3s ease-in ;
	animation: fadeInRight .3s ease-in;
}

.main-nav ul li:hover>ul{display:block!important; background: rgba(252,66,37,0.98); min-width:200px; box-shadow:0px 1px 6px rgba(84,84,84,0.4);
-moz-animation: fadeInUp .3s ease-in ;
    -webkit-animation: fadeInUp .3s ease-in ;
    animation: fadeInUp .3s ease-in;
}
	
.main-nav>ul{margin:0;display:block!important;background:transparent;}
.main-nav>ul>li>ul{/*border-top:2px solid #ffffff*/}
.main-nav>ul>li>ul>li:first-child{border-top:0}
.main-nav ul li li a:hover,.main-nav ul li li a.selected{ background-color:#98c521; color:#ffffff; border-radius:0;}
ul.nav li li a:hover:after, ul.nav li li a.selected:after { border:none; }	

ul.nav li a:link{ color:#ffffff;	text-decoration:none; }
ul.nav li a:visited{	color:#ffffff; text-decoration:none;}
ul.nav li a:hover{ color:#ffffff;  text-decoration:none; background-color:transparent; }
ul.nav li a.selected{ color:#ffffff; text-decoration:none;background-color:transparent; }
ul.nav li a::after{
	position: absolute;
	top:100%;
	left:30%;
	width: 40%;
	height: 1px;
	background:none;
	content: '';
}
.main-nav ul li li i{ display:block;}

}

@media (min-width:1200px){ }
#mainheader .main-nav ul li li a:hover, #mainheader .main-nav ul li li a.selected{ background:rgba(255,255,255,.2); font-weight:400; color:#fff; border-radius:0;}
#header .main-nav ul li li a:hover, #header .main-nav ul li li a.selected{ background:rgba(255,255,255,.2); font-weight:400; color:#fff; border-radius:0;
border-bottom:none;}
.main-nav ul li a .sub-toggle{ background:rgba(84,84,84,0.95);}

/* Firefox Only Hack code css */
@-moz-document url-prefix() { 
 .main-nav ul li li i { margin-top:-20px;}
}


@media (min-width: 991px) and (max-width: 1200px) {
#mainheader .main-nav ul li ul,
.main-nav ul li:hover>ul
{
	min-width:150px;
}

#mainheader .main-nav ul > li > a, #header .main-nav ul > li > a{
	font-size:13px;
}

.brand-logo img {
  margin-left: 40px;
}

}

@media (max-width:990px){ 
	.menu-inner .brand-logo { line-height:80px;}
	nav.main-nav { display:none;}
	.menu-inner { height:60px;}
	.brand-logo img { line-height:60px; margin:auto; display:block; padding:0px 0;}
}

@media (min-width: 768px) and (max-width: 980px) {
.header_details{ margin-top:70px;}
}
@media (min-width: 481px) and (max-width: 767px){
.header_details{ margin-top:70px;}
}
@media (min-width: 321px) and (max-width: 480px) { 
.menu-inner .nav-toggle{ top:23px;}
.header_details{ margin-top:70px;}
.brand-logo a{ font-size:22px;}
}
@media (min-width: 240px) and (max-width: 320px) {
.brand-logo a{ font-size:24px;line-height:28px;}
.menu-inner .nav-toggle{ top:23px;}
.header_details{ margin-top:60px;}
}


/* Firefox Only Hack code css */

@-moz-document url-prefix() { 
 #header .main-nav ul>li>a>i { float:none;}
}

@-moz-document url-prefix() { 
 #header .main-nav ul ul li i { float:right; margin-top:-20px;}
}

/* Safari Only Hack code css */
::i-block-chrome,#header .main-nav ul > li > a > i{
        float:none;
    } 
	
::i-block-chrome,#header .main-nav ul ul li i{
        float:right; 
    } 




/*
     FILE ARCHIVED ON 09:06:03 Sep 19, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:00:11 Nov 01, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.531
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.01
  esindex: 0.009
  cdx.remote: 11.346
  LoadShardBlock: 208.054 (3)
  PetaboxLoader3.datanode: 153.136 (4)
  PetaboxLoader3.resolve: 3383.879 (2)
  load_resource: 3387.132
*/