.title {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

/* =Portfolio
-------------------------------------------------------------- */
.portfolio {
  padding-bottom: 0;
  position: absolute;
top: 0;
overflow: hidden;
min-height: 100%;
min-width: 100%;
z-index: 778;
background: rgba(255,255,255,0.9);
}
.portfolio .section{ margin-top:145px;}

#filters li{ font-weight:400;}

.filters {
  padding: 0;
  margin: 0 auto;
  padding-top:30px;
  padding-bottom:5px;
  float: none;
  list-style: none;
  text-align: center;
}

.filters li {
  display: inline-block;
  margin: 5px;
  background-color:#727272;
  color:#fff;
  cursor: pointer;
	font-size: 14px;
	font-weight:400;
	text-transform:uppercase;
	padding: 2px 20px;
	line-height: 32px;
	text-align: center;
	text-decoration: none;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-style: none;
font-family: 'Carrois Gothic SC', sans-serif;
}

.filters li:hover, .filters li.active {
background:#f3c432; color:#fff;
}




.mask h3{
position: absolute;
bottom: 0;
text-align: center;
width: 100%;
transition:.8s;
text-transform:uppercase;
}
.mask h3 span{ font-weight:700;}

.portfolio-grid li:hover .port-caption{
bottom:0;
z-index: 999;
position: absolute;
background:rgba(0,0,0,.5);
color:#fff;
padding:50px 20px;
transition:.8s;
width:100%;
}
 .port-caption{ font-size:16px; color: #fff; font-weight:400; transition:.8s; position:absolute;width:100%;}
.portfolio-grid li:hover .mask h3{ bottom:40%; transition:.8s; z-index:1;}
.port-caption{ 
	bottom:0;
	z-index: 999;
	position: absolute;
	background:rgba(0,0,0,.5);
	color:#fff;
	padding:40px 20px;
	transition:.8s;
	width:100%;
	line-height:24px;
}

.portfolio-grid,
#portfolio-grid,
#portfolio-grid-modal {
  padding: 0;
  margin-top: 50px;
  margin-bottom: 0;
  line-height:0;
}

.portfolio-grid:before, .portfolio-grid:after,
#portfolio-grid:before, #portfolio-grid:after,
#portfolio-grid-modal:before, #portfolio-grid-modal:after {
  content: " ";
  display: table;
}

.portfolio-grid:after,
#portfolio-grid:after,
#portfolio-grid-modal:after {
  clear: both;
}

	.portfolio-grid li,
	#portfolio-grid li,
	#portfolio-grid-modal li {
  width: 100%;
  float: left;
  display: none;
  opacity: 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
/*.three_half .portfolio-grid li, .three_half #portfolio-grid li, .three_half #portfolio-grid-modal li{ width:33%;}
.two_half .portfolio-grid li, .two_half #portfolio-grid li, .two_half #portfolio-grid-modal li{ width:50%;}*/
.two_half .portfolio-grid, .two_half #portfolio-grid, .two_half #portfolio-grid-modal{ margin-top:0;}
.portfolio-grid li:hover .project-overlay, #portfolio-grid li:hover .project-overlay, #portfolio-grid-modal li:hover .project-overlay {
  opacity: 1;
}

.portfolio-grid li img,
#portfolio-grid li img,
#portfolio-grid-modal li img {
  width: 100%;
transition: 0.8s ease;
  
}
.portfolio-grid li:hover img,
#portfolio-grid li:hover img,
#portfolio-grid-modal li:hover img{
	-webkit-transform: scale(1.25);
-moz-transform: scale(1.25);
-ms-transform: scale(1.25);
-o-transform: scale(1.25);
transform: scale(1.25);
		transition: 0.8s ease;

}
.project-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right:0;
  opacity: 0;
  transition: 1s ease;
  padding:22%;
  color: #fff;
  text-align: center;
font-size: 13px;
text-transform: capitalize;
font-weight: 300;
line-height: 23px;
letter-spacing:1px;
font-style: normal;  

  
}
.portfolio-grid li:hover .project-overlay,
#portfolio-grid li:hover .project-overlay,
#portfolio-grid-modal li:hover .project-overlay{ cursor: url(/web/20230919090558im_/http://bleusushiphilly.com/img/pointer.png),crosshair; background:rgba(17,17,17,.7); }
.project-overlay h3{
color: #fff;
letter-spacing: 0.02em;
text-align: center;
font-weight: 400;
text-decoration: none;
font-size: 20px;
padding-bottom:8px;
margin: 0;
letter-spacing: 1px;

position:absolute;
bottom:10%;
 transition:.5s;
}


/*.filters li:hover, .filters li.active {
   background:rgba(243, 42, 42,0.95);
   color: #fff;
 
}*/

/* =Media queries
-------------------------------------------------------------- */




@media (max-width: 991px) {
.portfolio .section{ margin-top:90px;}
  .portfolio-grid li,
  #portfolio-grid li,
  #portfolio-grid-modal li {
    /*width: 50%;*/
  }

 
}




@media (max-width: 479px) {
  .portfolio-grid li, #portfolio-grid li {
    /*width: 100%;*/
  }
  
  .two_half .portfolio-grid li, .two_half #portfolio-grid li{ width:100%;}

}



/*
     FILE ARCHIVED ON 09:05:58 Sep 19, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:00:11 Nov 01, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.369
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.009
  esindex: 0.014
  cdx.remote: 13.106
  LoadShardBlock: 182.538 (3)
  PetaboxLoader3.resolve: 98.214 (4)
  PetaboxLoader3.datanode: 119.876 (4)
  load_resource: 74.173
*/